
.main-menu {
    text-align: right;
    margin: 0;
    padding: 0;
    background-color: $main_blue;
    //float: left;
    //width: 100%;
    //@include linear_gradient(45deg, $main_blue_hover 40%, black 200%);

    //background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.16) 75%, rgba(0,0,0,0) 100%);
    //background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.16) 75%,rgba(0,0,0,0) 100%);
    //background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.16) 75%,rgba(0,0,0,0) 100%);
    //
    //background: rgba(43,101,177,1);
    //background: -moz-linear-gradient(top, rgba(43,101,177,1) 0%, rgba(53,125,208,0) 100%);
    //background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,101,177,1)), color-stop(100%, rgba(53,125,208,0)));
    //background: -webkit-linear-gradient(top, rgba(43,101,177,1) 0%, rgba(53,125,208,0) 100%);
    //background: -o-linear-gradient(top, rgba(43,101,177,1) 0%, rgba(53,125,208,0) 100%);
    //background: -ms-linear-gradient(top, rgba(43,101,177,1) 0%, rgba(53,125,208,0) 100%);
    //background: linear-gradient(to bottom, rgba(43,101,177,1) 0%, rgba(53,125,208,0) 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b65b1', endColorstr='#357dd0', GradientType=0 );
    &__subsection {
        list-style-type: none;
        display: inline-block;
        margin: 20px;

        &:first-child {
            float: left;
            height: auto;
            width: 100%;
            max-width: 251px;
            margin: 15px 0 0 20px;
        }

        &--order {
            display: block;
            margin: 0 auto;
            padding: 13px;
            max-width: 251px;
        }
    }

    &__text {
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        @include font-size(22px);

        &:hover {
            color: $font_color_yellow;
            text-decoration: none;
            @include transition(0.2s ease-in-out);
        }
    }

}

@media screen and (max-width: 525px) {
    .main-menu {
        &__subsection {
            &:first-child {
                display: block;
                float: none;
                margin: 15px auto;
            }

            &:nth-child(2){
                float: left;
                margin-left: 50px;
            }

            &:nth-child(3) {
                margin-right: 50px;
            }

        }
    }
}
