$main_blue: #357dcf;
$main_blue_hover: #2b65af;
$main_white: #fdfdfd;
$main_orange: #ee696c;
$main_grey: #f2f2f2;
$font_color_grey: #8b8b8b;
$font_color_light_grey: #d7d7d7;
$font_color_yellow: #f8d838;